@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51, 65, 85;
    --background-end-rgb: 30, 41, 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .navLink {
    @apply relative after:absolute hover:text-white
          after:-bottom-3 after:-left-3 after:h-1.5 after:opacity-50 after:w-full
            after:bg-orange-300 after:content-[''] hover:after:opacity-100 hover:after:transition-all hover:after:transform hover:after:-translate-y-[50%] hover:after:translate-x-3 hover:after:duration-300 hover:after:ease-in-out;
  }
}
